body {
	background-image: url("../data/imgs/pozadine/backgroundMain.jpg");
	background-repeat: repeat;
}

#loginForma {
    position: absolute;
    top: 10%;
    left: 33%;
    width: 34%;
    height: 70%;
    border: 2px solid black;
    border-radius: 10%;
    min-width: 300px;
    box-shadow: 0px 10px 10px #888888;
}

#loginForma img {
	left: 33%;
	top: 3%;
	width: 34%;
	height: 34%;
	transform: scale(0.8, 0.8);
	opacity: 0.75;
}

.loginForma {
	position: absolute;
}

#korisnickoIme {
	left: 10%;
	top: 40%;
	width: 80%;
	height: 10%;
}

#sifra {
	left: 10%;
	top: 60%;
	width: 80%;
	height: 10%;
}

#login {
	left: 30%;
	top: 80%;
	width: 40%;
	height: 10%;
}

.loginForma input {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
}

input:hover {
	transform: scale(1.05, 1.05);
	box-shadow: 0px 10px 10px #888888;
}

#login input:hover {
	cursor: pointer;
}