body {
	background-image: url("../data/imgs/pozadine/backgroundMain.jpg");
	background-repeat: repeat;
}

#meni {
	position: absolute;
	left: 5%;
	width: 20%;
	text-align: center;
	background-color: #D3D3D3;
	font-family: fantasy;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0px 10px 10px #888888;
	cursor: pointer;
}

#meni:hover {
	background-color: #BEBEBE;
}

.redovi {
	position: relative;
}

#nultiRedGorePozadinaBoja {
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	opacity: 0.5;
	background: linear-gradient(#9c9e9f 0%,#f6f6f6 100%);
	border-top: 2px solid #505151;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedGore {
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	/*background: linear-gradient(#9c9e9f 0%,#f6f6f6 100%);*/
}

.nultiRedGore {
	position: absolute;
}

#nultiRedGoreLevo {
	left: 1%;
	top: 10px;
	width: 24%;
	height: 50px;
}

#nultiRedGoreLevo p {
	position: absolute;
	left: 1%;
	font-size: 125%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	/*color: black;*/
	color: #f4c135;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	cursor: pointer;
	border-radius: 10%;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedGoreSlike {
	left: 50%;
	top: 10px;
	width: 24%;
	height: 50px;
}

#nultiRedGoreSlike img {
	position: absolute;
	display: block;
	margin: auto;
	width: auto;
	height: 100%;
    transform: scale(0.5, 0.5);
    cursor: pointer;
}

#nultiRedGoreSearch {
	right: 1%;
	top: 10px;
	width: 24%;
	height: 50px;
}

#nultiRedGoreSearchPretraga {
	position: absolute;
	left: 0;
	top: 12.5px;
	width: 50%;
	height: 50%;
}

#nultiRedGoreSearchSlika {
	position: absolute;
	left: 52%;
	top: 12.5px;
	width: auto;
	height: 40%;
	padding: 2px;
	opacity: 0.7;
	border: 1px solid #9c9e9f;
	border-radius: 5px;
}

#nultiRedGoreSearchSlika:hover {
	opacity: 1;
	cursor: pointer;
}

#nultiRedGoreSlikaKorisnika {
	position: absolute;
	right: 0;
	height: 100%;
	width: 25%;
}

#nultiRedGoreSlikaKorisnika img{
	height: 100%;
	width: 80%;
	border: 1px solid #888888;
	border-radius: 40%;
	opacity: 0.9;
}

#nultiRedGoreSlikaKorisnika img:hover {
	border: 2px solid #9c9e9f;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedDolePozadinaBoja {
	position: absolute;
	bottom: 15px;
	width: 100%;
	height: 100px;
	opacity: 0.75;
	background: linear-gradient(#f6f6f6 0%,#9c9e9f 100%);
	border-bottom: 2px solid #505151;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedDole {
	position: absolute;
	bottom: 15px;
	width: 100%;
	height: 100px;
	border-top: 2px solid black;
	border-left: 1px solid black;
	border-right: 3px solid black;
	border-radius: 50%;
}

.nultiRedDole {
	position: absolute;
}

#nultiRedDoleSlika {
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
}

#nultiRedDoleSlika img {
	position: absolute;
	right: 0;
	bottom: 10%;
}

#nultiRedDoleSlika img:hover {
	transform: scale(1.1, 1.1);
}

#nultiRedDolePocetna {
	right: 40%;
	width: 20%;
	height: 100%;
}

/*#nultiRedDolePocetna:hover {
	opacity: 0.6;
	cursor: pointer;
}*/

#nultiRedDolePocetna h1 {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
	font-family: trebuchet ms;
	border-radius: 10px;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedDoleFilmovi {
	right: 20%;
	width: 20%;
	height: 100%;
}

#nultiRedDoleFilmovi:hover {
	opacity: 0.6;
	cursor: pointer;
}

#nultiRedDoleFilmovi h1 {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
	font-family: trebuchet ms;
}

#nultiRedDoleKontakt {
	right: 0;
	width: 20%;
	height: 100%;
}

#nultiRedDoleKontakt:hover {
	opacity: 0.6;
	cursor: pointer;
}

#nultiRedDoleKontakt h1 {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
	font-family: trebuchet ms;
}

#prviRedTekst {
	position: absolute;
	left: 7%;
	width: 23%;
	height: 400px;
}

.prviRedTekst {
	position: absolute;
}

#prviRedTekstNaslov {
	position: absolute;
	width: 100%;
	height: 80px;
}

#prviRedTekstNaslovh1 {
	width: 100%;
	height: 80px;
	font-family: fantasy;
	border-radius: 10px;
	box-shadow: 0px 10px 10px #888888;
}

#prviRedTekstParagraf {
	position: absolute;
	word-wrap: break-word;
	left: 0;
	top: 110px;
	width: 100%;
	height: 240px;
	border-radius: 10px;
	box-shadow: 0px 10px 10px #888888;
}

#prviRedLevo {
	position: absolute;
	left: 31%;
	width: 41%;
	height: 400px;
}

#prviRedLevo:hover {
	transform: scale(1.025, 1.025);
	box-shadow: 0px 10px 10px #888888;
	opacity: 0.95;
}

#prviRedLevo img {
	display: block;
	margin: auto;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.prviRedDesno {
	position: absolute;
	right: 7%;
	width: 20%;
	height: 130px;
	opacity: 0.7;
	cursor: pointer;
}

.prviRedDesno img {
	display: block;
	margin: auto;
    width: 100%;
    height: 100%;
	border: 1px solid black;
}

.prviRedDesno:hover {
	opacity: 1;
}

#prviRedDesno1 {
	top: 0;
}

#prviRedDesno2 {
	top: 134px;
}

#prviRedDesno3 {
	bottom: 0;
}

#drugiRedDesno {
	right: 0;
}

#drugiRedLevoMeni {
	position: absolute;
	left: 5%;
	top: 18%;
	width: 50%;
}

.drugiRed {
	position: absolute;
	width: 49%;
	height: 550px;
}

#formaZaNovogKorisnika {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.loginForma {
	position: absolute;
}

#slika {
	width: 100%;
	height: 25%;
	top: 2.5%;
}

#slika img {
	position: absolute;
	height: 75%;
	width: 15%;
	left: 40%;
	top: 12.5%;
	opacity: 0.75;
}

#korisnickoIme {
	width: 100%;
	height: 7%;
	top: 30%;
}

.loginForma input {
	position: absolute;
	left: 25%;
	width: 50%;
	height: 60%;
}

#sifra {
	width: 100%;
	height: 7%;
	top: 39.5%;
}

#ime {
	width: 100%;
	height: 7%;
	top: 48.5%;
}

#prezime {
	width: 100%;
	height: 7%;
	top: 58%;
}

#adresaSlikeNovogProdavca {
	width: 100%;
	height: 7%;
	top: 67.5%;
}

#uloga {
	width: 100%;
	height: 7%;
	top: 77%;
}

#unesitePodatke {
	width: 100%;
	height: 7%;
	top: 86.5%;
}

#unesitePodatkeInput {
	left: 15%;
	width: 30%;
	height: 80%;
}

#PrekiniteSaDodavanjemProdavcaInput {
	position: absolute;
	left: 55%;
	width: 40%;
	height: 80%;
}

#potvrdaFormeZaNovogKorisnika {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.potvrdaFormeZaNovogKorisnika {
	position: absolute;
}

#slikaNovogProdavca {
	left: 0;
	top: 2.5%;
	width: 100%;
	height: 25%;
}

#slikaNovogProdavca img{
	position: absolute;
	height: 75%;
	width: 15%;
	left: 40%;
	top: 12.5%;
	opacity: 0.75;
	border: 2px solid #888888;
	border-radius: 50%;
}

#korisnickoImeNovogKorisnika {
	width: 100%;
	height: 10%;
	top: 35%;
}

#imeNovogKorisnika {
	width: 100%;
	height: 10%;
	top: 50%;
}

#prezimeNovogKorisnika {
	width: 100%;
	height: 10%;
	top: 65%;
}

#opcijeKodDodavanjaKorisnika {
	width: 100%;
	height: 20%;
	top: 80%;	
}

.opcijeKodDodavanjaKorisnikaDiv {
	position: absolute;
}

#opcijeKodDodavanjaKorisnikaPitanje {
	left: 0;
	width: 100%;
	height: 40%;
}

#opcijeKodDodavanjaKorisnikaOpcijaDa {
	left: 0;
	top: 60%;
	width: 45%;
	height: 40%;
}

#opcijeKodDodavanjaKorisnikaOpcijaNe {
	right: 0;
	top: 60%;
	width: 45%;
	height: 40%;
}

.potvrdaFormeZaNovogKorisnika p{
	position: absolute;
	left: 0;
	width: 35%;
	height: 100%;
}

.potvrdaFormeZaNovogKorisnika input{
	position: absolute;
	top: 25%;
	left: 35%;
	width: 20%;
	height: 50%;
}

#opcijeKodDodavanjaKorisnikaPitanje p{
	position: absolute;
	left: 33.3%;
}

.opcijeKodDodavanjaKorisnikaDiv {
	position: absolute;
}

#dodajNovogKorisnikaDa{
	position: absolute;
	right: 5%;
	top: 12.5%;
	height: 75%;
	width: 25%;
}

#dodajNovogKorisnikaNe{
	position: absolute;
	left: 5%;
	top: 12.5%;
	height: 75%;
	width: 25%;
}

#formaZaNoviFilm {
	position: absolute;
	top: 25px;
	width: 100%;
	height: 250px;
}

.formaZaNoviFilm {
	position: absolute;
	width: 100%;
	height: 20%;
}

.formaZaNoviFilm input{
	position: absolute;
	left: 40%;
	top: 20%;
	width: 20%;
	height: 20px;
}

.formaZaNoviFilm p{
	position: absolute;
	left: 0%;
}

#unesitePodatkeOFilmu {
	position: absolute;
	left: 70%;
}

#formaZaNoviFilmNaziv {
	left: 0%;
	top: 0%;
}

#formaZaNoviFilmPoster {
	left: 0%;
	top: 20%;
}

#formaZaNoviFilmZanr {
	left: 0%;
	top: 40%;
}

#formaZaNoviFilmYturl {
	left: 0%;
	top: 60%;
}

#formaZaNoviFilmTrajanje {
	left: 0%;
	top: 80%;
}