body {
	background-image: url("../data/imgs/pozadine/backgroundMain.jpg");
	background-repeat: repeat;
}

.redovi {
	position: relative;
}

#nultiRedGorePozadinaBoja {
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	opacity: 0.5;
	background: linear-gradient(#9c9e9f 0%,#f6f6f6 100%);
	border-top: 2px solid #505151;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedGore {
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	/*background: linear-gradient(#9c9e9f 0%,#f6f6f6 100%);*/
}

.nultiRedGore {
	position: absolute;
}

#nultiRedGoreLevo {
	left: 1%;
	top: 10px;
	width: 24%;
	height: 50px;
}

#nultiRedGoreLevo p {
	position: absolute;
	left: 1%;
	font-size: 125%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	/*color: black;*/
	color: #f4c135;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	cursor: pointer;
	border-radius: 10%;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedGoreSlike {
	left: 50%;
	top: 10px;
	width: 24%;
	height: 50px;
}

#nultiRedGoreSlike img {
	position: absolute;
	display: block;
	margin: auto;
	width: auto;
	height: 100%;
    transform: scale(0.5, 0.5);
    cursor: pointer;
}

#nultiRedGoreSearch {
	right: 1%;
	top: 10px;
	width: 24%;
	height: 50px;
}

#nultiRedGoreSearchPretraga {
	position: absolute;
	left: 0;
	top: 12.5px;
	width: 50%;
	height: 50%;
}

#nultiRedGoreSearchSlika {
	position: absolute;
	left: 52%;
	top: 12.5px;
	width: auto;
	height: 40%;
	padding: 2px;
	opacity: 0.7;
	border: 1px solid #9c9e9f;
	border-radius: 5px;
}

#nultiRedGoreSearchSlika:hover {
	opacity: 1;
	cursor: pointer;
}

#nultiRedGoreSlikaKorisnika {
	position: absolute;
	right: 0;
	height: 100%;
	width: 25%;
}

#nultiRedGoreSlikaKorisnika img{
	height: 100%;
	width: 80%;
	border: 1px solid #888888;
	border-radius: 40%;
	opacity: 0.9;
}

#nultiRedGoreSlikaKorisnika img:hover {
	border: 2px solid #9c9e9f;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedDolePozadinaBoja {
	position: absolute;
	bottom: 15px;
	width: 100%;
	height: 100px;
	opacity: 0.75;
	background: linear-gradient(#f6f6f6 0%,#9c9e9f 100%);
	border-bottom: 2px solid #505151;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedDole {
	position: absolute;
	bottom: 15px;
	width: 100%;
	height: 100px;
	border-top: 2px solid black;
	border-left: 1px solid black;
	border-right: 3px solid black;
	border-radius: 50%;
}

.nultiRedDole {
	position: absolute;
}

#nultiRedDoleSlika {
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
}

#nultiRedDoleSlika img {
	position: absolute;
	right: 0;
	bottom: 10%;
}

#nultiRedDoleSlika img:hover {
	transform: scale(1.1, 1.1);
	cursor: pointer;
}

#nultiRedDolePocetna {
	right: 40%;
	width: 20%;
	height: 100%;
}

#nultiRedDolePocetna:hover {
	opacity: 0.6;
	cursor: pointer;
}

#nultiRedDolePocetna h1 {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
	font-family: trebuchet ms;
}

#nultiRedDoleFilmovi {
	right: 20%;
	width: 20%;
	height: 100%;
}

/*#nultiRedDoleFilmovi:hover {
	opacity: 0.6;
	cursor: pointer;
}*/

#nultiRedDoleFilmovi h1 {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
	font-family: trebuchet ms;
	border-radius: 10px;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedDoleKontakt {
	right: 0;
	width: 20%;
	height: 100%;
}

#nultiRedDoleKontakt:hover {
	opacity: 0.6;
	cursor: pointer;
}

#nultiRedDoleKontakt h1 {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
	font-family: trebuchet ms;
}

#prviRed {
	width: 100%;
	height: auto;
}

#prviRedProjekcije {
	position: relative;
	left: 10%;
	width: 80%;
	height: auto;
}

#prviRedProjekcijePrikazRacuna {
	position: relative;
	left: 10%;
	width: 80%;
	height: 100px;
	/*border: 1px solid black;*/
}

#prviRedProjekcijePrikazRacunaDugme {
	position: absolute;
	left: 42.5%;
	width: 15%;
	height: 50px;
	/*border: 1px solid black;*/
}

#prviRedProjekcijePrikazRacunaDugme p{
	text-align: center;
	font-family: trebuchet ms;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 10px 10px #888888;
}

#prviRedProjekcijePrikazRacunaDugme p:hover {
	transform: scale(1.1, 1.1);
}

#prviRedProjekcijePrikazRacunaPrikaz1 {
	position: absolute;
	top: 55px;
	width: 100%;
	height: auto;
}

#prviRedProjekcijePrikazRacunaPrikaz2 {
	position: absolute;
	width: 100%;
	height: auto;
}