body {
	background-image: url("../data/imgs/pozadine/backgroundMain.jpg");
	background-repeat: repeat;
}

.redovi {
	position: relative;
}

#nultiRedGorePozadinaBoja {
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	opacity: 0.5;
	background: linear-gradient(#9c9e9f 0%,#f6f6f6 100%);
	border-top: 2px solid #505151;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedGore {
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	/*background: linear-gradient(#9c9e9f 0%,#f6f6f6 100%);*/
}

.nultiRedGore {
	position: absolute;
}

#nultiRedGoreLevo {
	left: 1%;
	top: 10px;
	width: 24%;
	height: 50px;
}

#nultiRedGoreLevo p {
	position: absolute;
	left: 1%;
	font-size: 125%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	/*color: black;*/
	color: #f4c135;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	cursor: pointer;
	border-radius: 10%;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedGoreSlike {
	left: 50%;
	top: 10px;
	width: 24%;
	height: 50px;
}

#nultiRedGoreSlike img {
	position: absolute;
	display: block;
	margin: auto;
	width: auto;
	height: 100%;
    transform: scale(0.5, 0.5);
    cursor: pointer;
}

#nultiRedGoreSearch {
	right: 1%;
	top: 10px;
	width: 24%;
	height: 50px;
}

#nultiRedGoreSearchPretraga {
	position: absolute;
	left: 0;
	top: 12.5px;
	width: 50%;
	height: 50%;
}

#nultiRedGoreSearchSlika {
	position: absolute;
	left: 52%;
	top: 12.5px;
	width: auto;
	height: 40%;
	padding: 2px;
	opacity: 0.7;
	border: 1px solid #9c9e9f;
	border-radius: 5px;
}

#nultiRedGoreSearchSlika:hover {
	opacity: 1;
	cursor: pointer;
}

#nultiRedGoreSlikaKorisnika {
	position: absolute;
	right: 0;
	height: 100%;
	width: 25%;
}

#nultiRedGoreSlikaKorisnika img{
	height: 100%;
	width: 80%;
	border: 1px solid #888888;
	border-radius: 40%;
	opacity: 0.9;
}

#nultiRedGoreSlikaKorisnika img:hover {
	border: 2px solid #9c9e9f;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedDolePozadinaBoja {
	position: absolute;
	bottom: 15px;
	width: 100%;
	height: 100px;
	opacity: 0.75;
	background: linear-gradient(#f6f6f6 0%,#9c9e9f 100%);
	border-bottom: 2px solid #505151;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedDole {
	position: absolute;
	bottom: 15px;
	width: 100%;
	height: 100px;
	border-top: 2px solid black;
	border-left: 1px solid black;
	border-right: 3px solid black;
	border-radius: 50%;
}

.nultiRedDole {
	position: absolute;
}

#nultiRedDoleSlika {
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
}

#nultiRedDoleSlika img {
	position: absolute;
	right: 0;
	bottom: 10%;
}

#nultiRedDoleSlika img:hover {
	transform: scale(1.1, 1.1);
	cursor: pointer;
}

#nultiRedDolePocetna {
	right: 40%;
	width: 20%;
	height: 100%;
}

#nultiRedDolePocetna:hover {
	opacity: 0.6;
	cursor: pointer;
}

#nultiRedDolePocetna h1 {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
	font-family: trebuchet ms;
}

#nultiRedDoleFilmovi {
	right: 20%;
	width: 20%;
	height: 100%;
}

/*#nultiRedDoleFilmovi:hover {
	opacity: 0.6;
	cursor: pointer;
}*/

#nultiRedDoleFilmovi h1 {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
	font-family: trebuchet ms;
	border-radius: 10px;
	box-shadow: 0px 10px 10px #888888;
}

#nultiRedDoleKontakt {
	right: 0;
	width: 20%;
	height: 100%;
}

#nultiRedDoleKontakt:hover {
	opacity: 0.6;
	cursor: pointer;
}

#nultiRedDoleKontakt h1 {
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: auto;
	text-align: center;
	font-family: trebuchet ms;
}

#formaZaDatumNoveProjekcije {
	position: relative;
	width: 100%;
	height: 500px;
}

.formaZaDatumNoveProjekcije {
	position: absolute;
	width: 100%;
}

#formaZaDatumNoveProjekcijeGodina {
	top: 0;
	height: 20%;
}

#formaZaDatumNoveProjekcijeGodina p{
	position: absolute;
	left: 0;
	top: 37.5%;
	height: 25%;
}

#formaZaDatumNoveProjekcijeGodina input{
	position: absolute;
	left: 25%;
	top: 37.5%;
	height: 25%;
}

#formaZaDatumNoveProjekcijeMesec {
	top: 20%;
	height: 20%;
}

#formaZaDatumNoveProjekcijeMesec p{
	position: absolute;
	left: 0;
	top: 37.5%;
	height: 25%;
}

#formaZaDatumNoveProjekcijeMesec input{
	position: absolute;
	left: 25%;
	top: 37.5%;
	height: 25%;
}

#formaZaDatumNoveProjekcijeDan {
	top: 40%;
	height: 20%;
}

#formaZaDatumNoveProjekcijeDan p{
	position: absolute;
	left: 0;
	top: 37.5%;
	height: 25%;
}

#formaZaDatumNoveProjekcijeDan input{
	position: absolute;
	left: 25%;
	top: 37.5%;
	height: 25%;
}

#formaZaDatumNoveProjekcijeSati {
	top: 60%;
	height: 20%;
}

#formaZaDatumNoveProjekcijeSati p{
	position: absolute;
	left: 0;
	top: 37.5%;
	height: 25%;
}

#formaZaDatumNoveProjekcijeSati input{
	position: absolute;
	left: 25%;
	top: 37.5%;
	height: 25%;
}

#formaZaDatumNoveProjekcijeMinuti {
	top: 80%;
	height: 20%;
}

#formaZaDatumNoveProjekcijeMinutiP {
	position: absolute;
	left: 0;
	top: 37.5%;
	height: 25%;
}

#formaZaDatumNoveProjekcijeMinuti input{
	position: absolute;
	left: 25%;
	top: 37.5%;
	height: 25%;
}

#unesitePodatkeODatumuNoveProjekcije {
	position: absolute;
	left: 70%;
	top: 37.5%;
	height: 25%;
}

#unesitePodatkeODatumuNoveProjekcije:hover {
	cursor: pointer;
	transform: scale(1.1, 1.1);
	box-shadow: 0px 10px 10px #888888;
	border: 1px solid black;
	border-radius: 20%;
}

#izmenitePodatkeODatumuNoveProjekcije {
	position: absolute;
	left: 70%;
	top: 37.5%;
	height: 25%;
}

#izmenitePodatkeODatumuNoveProjekcije:hover {
	cursor: pointer;
	transform: scale(1.1, 1.1);
	box-shadow: 0px 10px 10px #888888;
	border: 1px solid black;
	border-radius: 20%;
}

#sadasnjiDatumDiv {
	position: relative;
	width: 100%;
	height: 50px;
}

#sadasnjiDatumDiv p{
	position: absolute;
}

#sadasnjiDatumDatum {
	left: 25%;
}

#formaZaIzborFilmaNoveProjekcije {
	position: relative;
	width: 100%;
	height: 100px;
}

#formaZaIzborFilmaNoveProjekcije p{
	position: absolute;
	left: 0;
	top: 37.5%;
	height: 25%;
}

#formaZaIzborFilmaNoveProjekcije select{
	position: absolute;
	left: 25%;
	top: 50%;
	height: 25%;
}

#formaZaTrajanjeNoveProjekcije {
	position: relative;
	width: 100%;
	height: 100px;
}

#formaZaTrajanjeNoveProjekcije p{
	position: absolute;
	left: 0;
	top: 37.5%;
	height: 25%;
}

#formaZaTrajanjeNoveProjekcije input{
	position: absolute;
	left: 25%;
	top: 37.5%;
	height: 25%;
}

#formaZaCenuNoveProjekcije {
	position: relative;
	width: 100%;
	height: 100px;
}

#formaZaCenuNoveProjekcije p{
	position: absolute;
	left: 0;
	top: 37.5%;
	height: 25%;
}

#formaZaCenuNoveProjekcije input{
	position: absolute;
	left: 25%;
	top: 37.5%;
	height: 25%;
}

#formaZaSaluNoveProjekcije {
	position: relative;
	width: 100%;
	height: 150px;
}

#petiRed {
	position: relative;
	width: 100%;
	height: 200px;
}

#petiRedDiv {
	position: absolute;
	left: 0;
	height: 100%;
	width: 20%;
}

#petiRed p{
	position: absolute;
	height: 20%;
	cursor: pointer;
}

#petiRedP1 {
	left: 0;
}

#petiRedP2 {
	left: 3%;
	top: 20%;
}

#petiRedP3 {
	left: 3%;
	top: 40%;
}

#petiRedP4 {
	left: 3%;
	top: 60%;
}

#petiRedP5 {
	left: 3%;
	top: 80%;
}

#petiRedDiv1 {
	position: absolute;
	left: 25%;
	top: 20%;
	width: 25%;
	height: 120px;
}

#petiRedDiv2 {
	position: absolute;
	right: 5%;
	top: 25%;
	width: 40%;
	height: 100px;
	display: none;
}

#petiRedDiv2 p{
	display: none;
}

#petiRedDiv2 input{
	position: absolute;
	left: 5%;
	top: 40%;
	width: 20%;
}

#treciRed {
	position: relative;
	left: 10%;
	width: 80%;
}

#PPretragaProjekcijePoID {
	position: absolute;
	left: 0;
	top: 0;
}

#PPretragaProjekcijePremaNazivuFilma {
	position: absolute;
	left: 0;
	top: 0;	
}

#PPretragaProjekcijePremaZanruFilma {
	position: absolute;
	left: 0;
	top: 0;
}

#PPretragaProjekcijePremaSaliFilma {
	position: absolute;
	left: 0;
	top: 0;	
}

#izvrsiPretraguProjekcija {
	position: absolute;
	right: 20%;
	top: 25%;
}

#cetvrtiRed {
	position: relative;
	width: 100%;
}

#cetvrtiRedPrikazPretrage {
	position: relative;
	width: 80%;
	left: 10%;
}

#cetvrtiRedPrikazPretrageDiv {
	position: relative;
	width: 100%;
}